*{
    margin:0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quattrocento Sans', sans-serif;
}
/* colores nav #6FA8DC footer #9FC5F8 fondo #597EAA */

.bg-primario{
    background-color: #597EAA;
    border-color: #597EAA;
}
.bg-secundario{
    background-color: #9FC5F8;
}
.bg-terciario{
    background-color: #6FA8DC;
}
.placeholder-dark::placeholder{
    color:black;
}
.hoverBtn:hover{
    background-color: #6FA8DC;
    border-color: #6FA8DC;
}
